<%- include("../public/partials/header.ejs") %>

<body>
  <%- include("../public/partials/navbar.ejs") %>
  <h1>User Settings</h1>

  <div>
    <!-- Se l'utente è un tutee, visualizza un pulsante per diventare tutor, altrimenti, visualizza un pulsante per diventare tutee -->
    <% materie.forEach(materia => { %>
    <div>
      <p>Subject: <%= materia.nomeMateria %></p>
      <p>Role:</p>
      <form action="/settings" method="post">
        <input type="hidden" name="materiaID" value="<%= materia.idMateria %>">
        <label for="tutor_<%= materia.idMateria %>">Tutor</label>
        <input type="radio" id="tutor_<%= materia.idMateria %>" name="role" value="tutor" <%= materia.ruolo === 'tutor' ? 'checked' : '' %>>
        <label for="tutee_<%= materia._id %>">Tutee</label>
        <input type="radio" id="tutee_<%= materia.idMateria %>" name="role" value="tutee" <%= materia.ruolo === 'tutee' ? 'checked' : '' %>>
        <button type="submit">Save</button>
      </form>
    </div>
    <% }); %>
</body>

<%- include("../public/partials/footer.ejs") %>